:root {
  --primary: #363636;
  --secondary: #ececec;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: var(--primary);
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: var(--primary);
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
}

h4 {
  font-size: 18px;
  color: var(--primary);
  font-weight: 600;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 15px;
}

p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: #608dfd;
  font-weight: 400;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}

ul,
ol {
  list-style: none;
}

ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: white;
  margin-bottom: 20px;
  border: 0;
}

/* Navigation */
#navicon {
  left: 0;
  width: 18%;
  filter: invert(100%);
}

#menu {
  padding: 0;
  transition: all 0.8s;
}

#empty-space-removed-navbar {
  margin: 0;
  padding: 0;
}

#menu.navbar-default {
  /* background-color: var(--primary); */
  background-color: black;
  /* background-color: transparent; */
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary);
  text-transform: uppercase;
}

#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: var(--secondary);
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
}

#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: var(--secondary);
  content: "";
  transition: width 0.2s;
}

#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: var(--secondary) !important;
  content: "" !important;
  transition: width 0.2s !important;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: var(--primary);
  border-color: var(--accent);
}

.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: var(--accent);
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: var(--secondary);
}

.section-title h2::after {
  position: absolute;
  content: "";
  /* background: var(--accent); */
  background: rgb(120, 119, 119);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

.section-title p {
  font-size: 18px;
}

.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: var(--secondary);
  background-color: var(--primary);
  border: 3px solid var(--secondary);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.2s linear;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: var(--secondary);
  background-image: none;
  background-color: var(--secondary);
  color: var(--primary);
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Header Section */
.intro {
  display: flexbox;
  width: 100%;
  background: url(../img/neuralnetbgs/80562.jpg) center center no-repeat;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}

.intro h1 {
  font-family: "Raleway", sans-serif;
  color: var(--secondary);
  font-size: 59.3px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  justify-content: center;
}

.intro header-title {
  font-weight: 800;
  color: var(--accent);
}

.intro p {
  color: var(--secondary);
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}

header .intro-text {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.header-title {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

header .main-pic {
  margin-top: 10px;
  height: 200px;
}

/* Meeting Info Section */
#meeting-cont {
  margin: auto;
}

#meeting-info {
  padding: 100px 0;
  background: #191919;
}

#meeting-title {
  color: #dfdede;
  font-family: "Raleway", sans-serif; 
  font-weight: 500;
  text-transform: none;
}

#meeting-info .outer-meeting-info-card {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  border-radius: 25px;
}

#meeting-info .inner-meeting-info-card {
  background-color: #242424;
  padding: 5rem 5rem;
  border-radius: 12px;
}

.inner-meeting-info-card > p,
h3 {
  color: var(--secondary);
}

#meeting-info i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: var(--secondary);
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#meeting-descrip {
  color: rgb(195, 193, 193);
  font-size: medium;
  font-weight: 545;
  text-transform: none;
  font-family: sans-serif, "Raleway";
}

#meeting-pic {
  border-radius: 25px;
  width: 45vw;
  display: block;
  margin: 0 auto;
}

#meeting-info .meeting-title {
  color: rgb(131, 129, 129);
  padding-bottom: 30px;
}

/* About Section */
#about {
  /* background:  rgb(33, 32, 32); */
  background: black;
  padding: 100px 0;
}

#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}

#about h2 {
  /* position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px; */
  color: rgb(227, 226, 226);
  font-weight: 500;
  text-transform: none;
}

.link-text {
  text-decoration: underline;
}

#about h2::after,
#about-white h2::after {
  position: absolute;
  content: "";
  background: var(--accent);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}

#about .info-item {
  display: flex;
  margin-bottom: 3.5rem;
  padding: 0;
}

#about .info-item:before {
  margin-top: 10px;
  content: "\f00c";
  font-family: "FontAwesome";
  color: var(--primary);
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}

#about img {
  width: 100%;
  max-width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

#about p {
  line-height: 24px;
  margin: 30px 0;
}

.about-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.about-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.about-img {
  margin: 140px;
  width: 100px;
  height: 350px;
  border-radius: 8px;
}

.about-descrip {
  margin-top: 50px;
  width: 100%;
  max-width: 520px;
}

/* Services Section */
#services {
  padding: 100px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: #fff;
}

#services .service-desc {
  margin: 10px 10px 20px;
}

#services h2 {
  color: #fff;
}

#services .section-title h2::after {
  position: absolute;
  content: "";
  background: var(--secondary);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  border-radius: 50%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #fff;
}

#services p {
  color: rgba(255, 255, 255, 0.75);
}

#services .service-desc {
  margin-bottom: 40px;
}

/* Portfolio Section */
#portfolio {
  background: var(--primary);
  padding: 100px 0;
}

#portfolio > .container > .section-title {
  color: var(--secondary);
}

.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}

.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0%,
    rgba(92, 169, 251, 0.8) 100%
  );
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

/* Testimonials Section */
#advisors {
  padding: 100px 0;
  /* background: #f6f6f6; */
  background: black;
}

#advisors .advise-title {
  color: white;
  font-family: "Raleway", sans-serif; 
  font-weight: 500;
  text-transform: none;
}

#advisors > .container > .section-title > h2 {
  color: var(--primary);
}

#advisors i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}

.testimonial {
  position: relative;
  padding: 20px;
}

.testimonial-image {
  float: left;
  margin-right: 15px;
}

.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.testimonial-content {
  position: relative;
  overflow: hidden;
}

.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}

.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}

#advisors .advise-name {
  color: white;
  font-weight: bolder;
  font-family: "Raleway", sans-serif; 
  font-weight: 500;
  text-transform: none;
}

.advise-descrip {
  margin-top: 30px;
  margin-bottom: 40px;
  color: white;
  font-size: medium;
  font-weight: 350;
  font-family: "Raleway", sans-serif; 
  text-transform: none;
  width: 300px;
}

#advisors .advise-cont {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  #advisors {
    padding-bottom: 0;
  }

  #advisors .advise-cont {
    flex-direction: column;
    gap: 0;
  }

  #advisors .advise-box {
    padding: 0;
    margin: 0;
  }
}

#advisors .advise-box {
  padding: 30px;
  max-width: 400px;
  background: rgb(42, 42, 42);
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.advise-pic {
  margin-top: 40px;
  height: 250px;
  border-radius: 3px;
}

/* Team Section */
#team {
  /* background-color: var(--primary); */
  /* background:  rgb(42, 41, 41); */
  background: black;
  padding: 100px 0;
}

.team-pic {
  height: 300px;
}

#team > .container > .section-title > p {
  color: var(--secondary);
}

#team .team-title {
  /* color: var(--primary); */
  color: rgb(219, 212, 212);
    font-family: "Raleway", sans-serif; 
  font-weight: 500;
  text-transform: none;
  
}

#team .team-descrip {
  color: rgb(18, 93, 224);
  padding-bottom: 30px;
  font-size: large;
  font-weight: 400px;
  color: rgb(163, 163, 163);
}

#team h4 {
  margin: 5px 0;
}

#team .team-img {
  width: 100%;
  max-width: 240px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

#team .thumbnail {
  background: transparent;
  border: 0;
}

#team .thumbnail .caption {
  padding: 10px 0 0;
  color: var(--secondary);
}

.caption > h4 {
  color: var(--secondary);
}

.hover-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(50, 50, 50, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.thumbnail:hover .hover-info {
  opacity: 1;
}

/* Contact Section */
#contact {
  padding: 100px 0 60px;
  /* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
  background: var(--primary);
  color: rgba(255, 255, 255, 0.75);
  border-top: 1rem solid var(--secondary);
}

#contact .section-title {
  margin-bottom: 40px;
}

#contact .section-title p {
  font-size: 16px;
}

#contact h2 {
  /* color: #fff; */
  /* color: rgb(76, 128, 250); */
  color: var(--accent);
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#contact .connect-descrip {
  color: var(--secondary);
  font-size: 20px;
  padding-bottom: 20px;
}

#contact .hi {
  background-color: var(--accent);
  height: 70px;
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
  color: var(--secondary);
  font-size: 30px;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 10px;
}

#contact .logo {
  /* background-color: red; */
  /* width: 200px; */
  text-align: right;
  color: var(--secondary);
  font-size: 30px;
  font-weight: bolder;
}

#contact .section-title h2::after {
  position: absolute;
  content: "";
  /* background: rgba(255, 255, 255, 0.3); */
  background: var(--secondary);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}

#contact h3 {
  color: var(--secondary);
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}

#contact form {
  padding-top: 20px;
}

#contact .text-danger {
  color: #cc0033;
  text-align: left;
}

#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid var(--secondary);
}

#contact .btn-custom:hover {
  color: var(--primary);
  background: var(--secondary);
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: var(--primary);
  background-color: var(--secondary);
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #777;
}

.form-control:-moz-placeholder {
  color: #777;
}

.form-control::-moz-placeholder {
  color: #777;
}

.form-control:-ms-input-placeholder {
  color: #777;
}

#contact .contact-item {
  margin: 20px 0;
}

#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}

#contact .contact-item i.fa {
  margin-right: 10px;
}

#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}

#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}

#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

#contact .social i.fa:hover {
  color: var(--primary);
  background: var(--secondary);
}

#contact .social-text {
  color: var(--secondary);
  font-size: 20px;
  padding-bottom: 20px;
}

/* Footer Section*/
#footer {
  background: #f6f6f6;
  padding: 30px 0;
}

#footer p {
  color: #888;
  font-size: 20px;
  margin: 0;
}

#footer a {
  color: #608dfd;
}

#footer a:hover {
  border-bottom: 2px solid #608dfd;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}

/* for gallery */

/* //// */
.cont {
  position: relative;
  margin-top: 20px; /* Space above the slider */
}

.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content */
  width: 300px;
  height: 400px;
  margin: 0 auto; /* Center the card in  slider */
}

.slide-image {
  width: 100%; /* Full width of the card */
  height: 70%; /* Height of the image portion */
  object-fit: cover;
  border-radius: 10px;
}

.image-description {
  font-size: 14px;
  font-weight: 500;
  /* color: rgb(33, 32, 32); */
  color: white;
  text-align: center;
  margin-top: 8px; /* Space between image and text */
}

/* 
.slick-prev, .slick-next {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
} */

.slick-slide > div {
  margin: 0 10px;
}

.slick-slide {
  display: none;
  float: left;
  height: 400px !important;
  min-height: 1px;
}

.youtube-butt {
  margin-top: 50px;
  font-size: large;
  font-weight: bold;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  background-color: gray;
  color: white;
  border: 0px;
}

.youtube-butt:hover {
  background-color: #5b6e9c;
  color: white;
}

/* for footer */
.contributors {
  color: rgb(67, 143, 229);
}

/* colors for highlighting */
.blue {
  color: rgb(67, 143, 229);
}

.yellow {
  color: rgb(232, 205, 52);
}

.orange {
  color: rgb(247, 98, 5);
}

.green {
  color: rgb(84, 184, 84);
}

* {
  /* border: 1px solid red !important; */
}

/* Mobile responsiveness for header */
@media (width <= 400px) {
  .intro {
    width: 100%;
  }
  #header {
    width: 100%;
  }
  .intro h1 {
    font-size: 47px;
  }

  #about img,
  .about-descrip,
  #contact .hi,
  #advisors .advise-box,
  #team .team-img {
    max-width: 100%;
  }
}
